## 1. Set the project path once

In [1]:
import os

project_root_path = os.path.dirname(os.getcwd())
os.chdir(project_root_path)

print(f"Working directory set to: {os.getcwd()}")

Working directory set to: C:\Users\pfaha\PROJECTS\brfss-diabetes-surveys\notebooks

## 2. Import all dependencies

In [2]:
import pyreadstat
import pandas as pd

## 3. Load data

In [3]:
MAX_ROWS = 1000 # We read only the first 1000 rows
raw_df, _ = pyreadstat.read_xport('../data/LLCP2024.xpt', encoding='windows-1252', row_limit=MAX_ROWS)

In [4]:
raw_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,02282024,02,28,2024,1100.0,2024000001,2.024000e+09,1.0,...,NaN,9.0,2.0,0.0,1.0,0.0,1.0,1.0,2.0,2.0
1,1.0,2.0,02212024,02,21,2024,1100.0,2024000002,2.024000e+09,1.0,...,4.0,9.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,2.0
2,1.0,2.0,02212024,02,21,2024,1100.0,2024000003,2.024000e+09,1.0,...,4.0,2.0,1.0,100.0,2.0,1400.0,1.0,NaN,NaN,2.0
3,1.0,2.0,02282024,02,28,2024,1100.0,2024000004,2.024000e+09,1.0,...,NaN,9.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,2.0
4,1.0,2.0,02212024,02,21,2024,1100.0,2024000005,2.024000e+09,1.0,...,3.0,9.0,2.0,0.0,1.0,0.0,1.0,NaN,NaN,2.0

In [5]:
raw_df.shape

(1000, 301)